@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> L

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @L["Reconnect_Rejoining"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @((MarkupString)string.Format(L["Reconnect_RejoinRetry"], "<span id=\"components-seconds-to-next-attempt\"></span>"))
        </p>
        <p class="components-reconnect-failed-visible">
            @((MarkupString)L["Reconnect_RejoinFailed"].Value)
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @L["Reconnect_Retry"]
        </button>
        <p class="components-pause-visible">
            @L["Reconnect_Paused"]
        </p>
        <p class="components-resume-failed-visible">
            @((MarkupString)L["Reconnect_ResumeFailed"].Value)
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @L["Reconnect_Resume"]
        </button>
    </div>
</dialog>
